.header {
  padding: 40px 0;
  background-color: var(--grey);
  border-bottom: 1px solid black;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
